/* ==============================
=============ACCOUNT General=============
============================== */

.AccountComponent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

    .AccountContainer {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

          .AccountTitle {
            flex: 1.5;
            display: flex;
            justify-content: center;
            align-items: flex-end;
          }

              .AccountTitle p {
                font-size: 32px;
                font-weight: bold;
                margin: 0px;
              }

          .AccountContent {
            width: 100%;
            flex: 8.5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .AccountButton {
            border-radius: 2px;
            background: white;
            border: 2px black solid;
            color: black;
            font-family: 'Amiri', serif !important;
            font-size: 16px;
            width: 100%;
            height: 50px;
            outline: none;
            padding: 0px;
            margin-top: 20px;
            text-align: center;
            letter-spacing: 1px;
          }


                  .AccountButton:hover {
                    background: black;
                    color: white;
                  }




/* ==============================
=============ACCOUNT Account Summary=============
============================== */

.AccountSummaryComponent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
}

      .AccountSummaryRow {
        width: 100%;
        display: flex;
      }

      .AccountSummaryLabel {
        width: 30%;
        text-align: left;
        font-weight: bold;
        font-size: 18px;
      }

      .AccountSummaryInfo {
        width: 70%;
        text-align: right;
        font-size: 18px;
      }



/* ==============================
=============ACCOUNT Edit Account=============
============================== */


  .EditAccountComponent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .EditAccountForm {
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 450px;
    }

          .EditAccountForm label {
            width: 100%;
            text-align: left;
            font-weight: bold;
            font-size: 18px;
          }

          .EditAccountFormInput {
            font-family: 'Amiri', serif !important;
            display: block;
            width: 100%;
            border: none;
            border-bottom: solid 1px black;
            font-size: 18px;
            color: black;
            padding-bottom: 0px;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 25px;
            outline: none;
          }

                ::-webkit-input-placeholder {
                  color: gray;
                }
